.feature {
	padding-top: 10px;
	padding-bottom: 10px;
}

.features-wrap {

    &:first-child {
        margin-top: -16px;
    }

    &:last-child {
        margin-bottom: -16px;
    }
}

.features-inner {
	max-width: 400px;
}

.feature-header {
	display: flex;
	align-items: center;
}

@include media( '>medium' ) {

	.features-wrap {

	    &:first-child {
	        margin-top: -24px;
	    }

	    &:last-child {
	        margin-bottom: -24px;
	    }
	}
}
