.hero {
    padding-top: 20px;
}

.hidden-desktop {
	display: none;
}

.hero-paragraph {
    margin-bottom: 30px;
}

.hero-illustration {
	display: none;
	position: relative;
}

.hero-bg,
.hero-square,
.hero-line {
	position: absolute;
	transform-origin: 50% 50%;
}

.hero-bg {
	top: -160px;
	left: 28px;
}

.hero-square-2 {
	top: -90px;
	left: 450px;
	width: 200px;
}

.hero-square-4 {
	top: -100px;
	left: 60px;
	width: 450px;
}

.hero-square-7 {
	top: 196px;
	left: 480px;
	width: 300px;
	height: 150px;
}

.hero-square-8 {
	top: 300px;
	left: 153px;
}

@include media( '>medium' ) {

    .hero {
        padding-top: 80px;
    }

	.hero-inner {
		/* Split hero in two parts */
		display: flex;
	}

	.hero-copy {
		padding-right: 48px;
		min-width: 512px;
		width: 512px;
	}

	.hero-illustration {
		display: block;
		width: 528px;
	}
}

@include media( '<=medium' ) {

	.hero-form {
		margin: 0 auto;
	}

	.hidden-desktop {
		display:block;
	}
	.hidden-mobile {
		display:none;
	}
}
